@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>VORP</h1>
    <p class="lead">VORP is a text-based game that sends the player to numerous locations and events throughout history.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            VORP takes you on an exciting journey into the past- though it may not always be the past you know.
            Be prepared to face unexpected dangers and think carefully to protect the timeline from interlopers- or, if you so choose, change it yourself!
            You will find yourself thrown face-to-face with famous figures from history.  Will you aid them in their quests?  Or will you stop them?  The choice is yours.
        </p>
    </div>
</div>